__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.eggs/
dist/
build/

venv/
.venv/
env/
ENV/
pip-wheel-metadata/

.pytest_cache/
.cache/

*.log
docker-compose.override.yml


.vscode/

*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
